@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

body{
    
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    height: 100%;
    /* overflow-y: hidden; */
}

body, html {
    height: 100%;
    margin: 0;
    padding: 10px;
}

.card{
    min-height: calc(100vh - 60px);
    display: flex;
    padding: 95px;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    
}



.mini-card-1{
    height: 520px;
    width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 12px 0 0 12px;
    background-color: #E28525;

}

.mini-card-1 p{
    color: #e8cfae;
    font-weight: 400;
    font-size: 15px;
    
}

.mini-card-1 .btn{
    color: #E28525;
    font-weight: 550;
    cursor: pointer;
}

.mini-card-1 .btn:hover{
    background-color: #E28525;
    color: white;
    border: 2px solid white;
}

.mini-card-2{
    height: 520px;
    width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
    background-color: #016972;
}

.mini-card-2 p{
    color: #A0EBF5;
    font-weight: 400;
    font-size: 15px;
}

.mini-card-2 .btn{
    color: #016972;
    font-weight: 550;
    cursor: pointer;
}

.mini-card-2 .btn:hover{
    background-color:#016972;
    color: white;
    border: 2px solid white;
}


.mini-card-3{
    height: 520px;
    width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 0 12px 12px 0;
    background-color: #00403F;
}

.mini-card-3 p{
    color: hsla(0, 0%, 100%, 0.75) ;
    font-weight: 400;
    font-size: 15px
}

.mini-card-3 .btn{
    color: #00403F;
    font-weight: 550;
    cursor: pointer;
}

.mini-card-3 .btn:hover{
    background-color: #00403F;
    color: white;
    border: 2px solid white;
}
h1{
    color: white;
    font-weight: 700;
    font-size: 44px;
    font-family: "Big Shoulders Display";
}


 img{
    width: 70px;
    height: 40px;
}

.btn{
    padding: 16px 8px;
    background-color: white;
    border: none;
    font-size: 16px;
    width: 150px;
    border-radius: 50px;
    margin-top: 90px;
    transition: background-color 0.15s;
}

.attribution {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        padding: 20px;
    }
    
    .mini-card-1, .mini-card-2, .mini-card-3 {
        width: 100%;
        height: auto;
        border-radius: 12px;
        margin-bottom: 20px;
        padding: 30px;
    }

    .btn {
        margin-top: 20px; 
    }

    .attribution {
        position: relative;
        bottom: 0;
        margin-top: 20px;
    }
}
